@import "style.scss";

//1440px
@media screen and (max-width: 1441px){
    #wrapper{
        header{
            height: 550px;
            #author{
                width: 400px;
                height: 400px;
                #potpis{
                    width: 350px;
                    height: 95px;
                    top: -105px;
                    h1{
                        font-size: 40px;
                    }
                    h2{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

//1024px
@media screen and (max-width: 1025px) {
    .region{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .nav_buttons{
        width: 60%;
    }
    #wrapper{
        header{
            height: 500px;
            #author{
                width: 350px;
                height: 350px;
                #potpis{
                    width: 300px;
                    height: 85px;
                    top: -95px;
                    left: -25px;
                    h1{
                        font-size: 35px;
                        border-bottom: 2px solid $white;
                    }
                    h2{
                        font-size: 25px;
                    }
                }
            }
        }
        #skills_services{
            #skills{
                display: block;
                #coding{
                    margin: 0px auto;
                    width: 80%;
                    padding: 10px 0px;
                }
                #engines{
                    margin: 20px auto;
                    width: 80%;
                    padding: 10px 0px;
                    margin-top: 40px;
                    #engine_group{
                        margin-bottom: 30px;
                    }
                }
            }
            #services{
                @for $i from 1 through 4{
                    #service#{$i}{
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        #projects{
            #proj_holder{
                display: block;
                @for $i from 1 through 2{
                    #proj#{$i}{
                        margin: 0px auto;
                        width: 80%;
                        @if($i==2){
                            margin-top: 40px;
                        }
                        h3{
                            margin: 0px;
                            padding: 20px 0px;
                        }
                    }
                }
            }
        }
        #about{
            #insanity_holder{
                flex-wrap: wrap;
                #bio{
                    flex-basis: 300px;
                    //margin-bottom: 40px;
                    p{
                        font-size: 18px;
                    }
                }
                #edu{
                    flex-basis: 300px;
                    //margin-bottom: 40px;
                }
            }
        }
    }
}

//768px
@media screen and (max-width: 769px) {
    .nav_buttons{
        height: 50px;
    }
    #wrapper{
        width: 90%;
        header{
            height: 400px;
            nav{
                i{
                    font-size: 20px;
                }
            }
            #author{
                width: 280px;
                height: 280px;
                #potpis{
                    width: 250px;
                    height: 70px;
                    top: -80px;
                    left: -20px;
                    h1{
                        font-size: 30px;
                        border-bottom: 2px solid $white;
                    }
                    h2{
                        font-size: 20px;
                    }
                }
            }
        }
        #skills_services{
            #skills{
                #coding{
                    margin-top: 50px;
                }
            }
            h2{
                margin-bottom: 0px;
            }
            @for $i from 1 through 4{
                #services{
                    flex-wrap: wrap;
                    #service#{$i}{
                        flex-basis: 300px;
                        margin-top: 40px;
                    }
                }
            }
        }
        #about{
            #insanity_holder{
                display: block;
                #bio{
                    width: 80%;
                    margin: 0px auto;
                    p{
                        margin-top: 0px;
                    }
                }
                #edu{
                    width: 80%;
                    margin: 0px auto;
                    table{
                        margin-top: 50px;
                    }
                }
            }
        }
        #contact{
            #cont_holder{
                display: block;
                #send{
                    margin: 0px auto;
                    width: 80%;
                    padding: 10px 0px;
                }
                #info{
                    margin: 0px auto;
                    width: 80%;
                    margin-top: 50px;
                }
            }
        }
        footer{
            padding-top: 30px;
            padding-bottom: 30px;
            nav{
                ul{
                    padding-top: 15px;
                    li{
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

//425px
@media screen and (max-width: 426px) {
    .region{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .nav_buttons{
        width: 80%;
        height: 50px;
    }
    .meter{
        margin-right: 0px;
    }
    .el_skill{
        width: 90%;
    }
    #wrapper{
        width: 95%;
        margin-top: 10px;
        header{
            height: 300px;
            nav{
                ul{
                    padding-top: 15px;
                }
            }
            #author{
                width: 200px;
                height: 200px;
                #potpis{
                    width: 160px;
                    height: 50px;
                    top: -50px;
                    left: -10px;
                    h1{
                        font-size: 20px;
                        border-bottom: 1px solid $white;
                    }
                    h2{
                        font-size: 15px;
                    }
                }
            }
        }
        #skills_services{
            h2{
                font-size: 45px;
            }
            #skills{
                padding-bottom: 50px;
                #coding{
                    margin-top: 20px;
                    h3{
                        font-size: 35px;
                    }
                }
                #engines{
                    #engine_group{
                        display: block;
                        .el_engine{
                            margin: 0px auto;
                            width: 50%;
                            margin-bottom: 20px;
                            padding: 10px;
                        }
                    }
                }
            }
            #services{
                #service1{
                    margin-top: 20px;
                }
            }
        }
        #projects{
            h2{
                font-size: 45px;
            }
            #proj_holder{
                margin-top: 20px;
                @for $i from 1 through 2{
                    #proj#{$i}{
                        h3{
                            font-size: 35px;
                        }
                        #el_proj#{$i}{
                            padding: 30px 0px;
                            border-radius: 30px;;
                            #desc_proj#{$i}{
                                border-radius: 30px;;
                                p{
                                    font-size: 15px;
                                }
                                a{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #about{
            h2{
                margin-bottom: 20px;
                font-size: 45px;
            }
        }
        #contact{
            h2{
                font-size: 45px;
            }
            #cont_holder{
                margin-top: 20px;
            }
        }
    }
}

//375px
@media screen and (max-width: 376px) {
    .nav_buttons{
        width: 90%;
        height: 40px;
    }
    #wrapper{
        border-bottom-left-radius: 30px 30px;
        border-bottom-right-radius: 30px 30px;
        header{
            height: 250px;
            nav{
                ul{
                    padding-top: 13px;
                }
                i{
                    font-size: 15px;
                }
            }
            #author{
                width: 150px;
                height: 150px;
                #potpis{
                    width: 130px;
                    height: 35px;
                    top: -40px;
                    left: -5px;
                    h1{
                        font-size: 15px;
                        border-bottom: 1px solid $white;
                    }
                    h2{
                        font-size: 10px;
                    }
                }
            }
        }
        #skills_services{
            #skills{
                #coding{
                    h3{
                        margin-top: 0px;
                    }
                    .el_skill{
                        margin: 15px auto;
                        p{
                            font-size: 20px;
                        }
                    }
                }
                #engines{
                    padding-bottom: 5px;
                    h3{
                        margin-top: 0px;
                    }
                    #engine_group{
                        margin-bottom: 0px;
                        .el_engine{
                            img{
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                }
            }
            @for $i from 1 through 4{
                #services{
                    #service#{$i}{
                        margin-top: 20px;
                    }
                }
            }
        }
        #projects{
            #proj_holder{
                @for $i from 1 through 2{
                    #proj#{$i}{
                        #el_proj#{$i}{
                            padding: 10px 0px;
                            border-radius: 30px;;
                            #desc_proj#{$i}{
                                border-radius: 30px;;
                                p{
                                    font-size: 15px;
                                }
                                a{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
                #proj2{
                    margin-top: 20px;
                }
            }
        }
        #about{
            #insanity_holder{
                #edu{
                    table{
                        margin-top: 20px;
                    }
                }
            }
        }
        #contact{
            #cont_holder{
                #send{
                    form{
                        .question{
                            textarea{
                                font-size: 15px;
                            }
                            textarea::placeholder{
                                font-size: 15px;
                            }
                        }
                    }
                }
                #info{
                    margin-top: 20px;
                    height: 265px;
                    table{
                        thead{
                            tr{
                                th{
                                    font-size: 25px;
                                }
                            }
                        }
                        tbody{
                            tr:nth-child(odd){
                                td{
                                    color: $white;
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                            }
                            tr:nth-child(even){
                                td{
                                    color: $green;
                                    font-size: 18px;
                                    font-weight: bold;
                                    padding-bottom: 5px;
                                    a{
                                        text-decoration: none;
                                        color: $green;
                                        i{
                                            font-size: 30px;
                                            padding-top: 10px;
                                        }    
                                    }
                                    a:hover{
                                        color: $green_light;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            nav{
                ul{
                    padding-top: 10px;
                    li{
                        a{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

//320px
@media screen and (max-width: 321px) {
    #wrapper{
        #skills_services{
            #skills{
                #engines{
                    #engine_group{
                        .el_engine{
                            img{
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
            #services{
                width: 90%;
                margin: 0px auto;
            }
        }
        #projects{
            #proj_holder{
                @for $i from 1 through 2{
                    #proj#{$i}{
                        #el_proj#{$i}{
                            padding: 0px;
                            border-radius: 30px;;
                            #desc_proj#{$i}{
                                border-radius: 30px;;
                                p{
                                    font-size: 12px;
                                }
                                a{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #about{
            #insanity_holder{
                #bio{
                    p{
                        font-size: 15px;
                    }
                }
                #edu{
                    table{
                        thead{
                            tr{
                                th{
                                    font-size: 20px;
                                }
                            }
                        }
                        tbody{
                            tr:nth-child(odd){
                                td{
                                    font-size: 15px;
                                }
                            }
                            tr:nth-child(even){
                                td{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #contact{
            #cont_holder{
                #send{
                    form{
                        .question{
                            input[type="submit"]{
                                width: 80px;
                                font-size: 18px;
                            }
                            input[type="reset"]{
                                width: 80px;
                                font-size: 18px;
                            }
                        }
                    }
                }
                #info{
                    height: 240px;
                    table{
                        thead{
                            tr{
                                th{
                                    font-size: 20px;
                                }
                            }
                        }
                        tbody{
                            tr:nth-child(odd){
                                td{
                                    color: $white;
                                    font-size: 15px;
                                    font-weight: bold;
                                }
                            }
                            tr:nth-child(even){
                                td{
                                    color: $green;
                                    font-size: 15px;
                                    font-weight: bold;
                                    padding-bottom: 5px;
                                    a{
                                        text-decoration: none;
                                        color: $green;
                                        i{
                                            font-size: 30px;
                                            padding-top: 10px;
                                        }    
                                    }
                                    a:hover{
                                        color: $green_light;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}